* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: auto;


}

a {
    text-decoration: none;
}

h1 {
    font-size: 50px;
}

h3 {
    color: rgb(49, 48, 48);
    font-weight: 700;
}


#top-banner {
    width: 1140px;
    margin: auto;


}

.container {
    margin-top: 30px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    background-color: #222121;
    border-radius: 10px;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.top-banner {
    padding: 50px 100px;
}

.top-banner p {
    padding: 20px 0px 30px 0px;
    text-align: justify;
}


.top-banner a {
    color: aliceblue;
    background-color: #ff0000;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 10px;
}

.fa-chevron-right {
    padding-left: 10px;
}


.blog {
    width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: 25% 1fr;

}



.left-menubar {
    background-color: #222121;
    padding: 10px 0px;

}

.left-area a {
    display: block;
    padding: 20px;
    background-color: aliceblue;
    margin: 20px 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    color: #222121;
    justify-content: center;
    align-items: center;
}


.right-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
    column-gap: 15px;
}

.our-blogs {
    background-color: aliceblue;
    margin-bottom: 20px;
    border: 1px solid #80808050;
    border-radius: 5px;

}

.blog-image img {
    width: 100%;
    margin-bottom: 10px;
}

.blog-text {
    padding: 0px 10px 10px 10px;
}

.blog-text h2 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.blog-text p {
    padding-bottom: 20px;

}

.blog-btn {
    color: aliceblue;
    background-color: #ff0000;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    padding: 5px 10px;
    border: none;
    margin-bottom: 10px;
}



.blog-footer a {
    color: #222121;
    padding-right: 30px;

}

.fa-clock {
    padding-right: 5px;
}

.fa-message {
    padding-right: 5px;
}







footer {
    margin-top: 150px;
    padding: 50px 0px;
    text-align: center;
    background-color: #222121;
}

.footer-head {
    color: aliceblue;
}

.hr-break {
    margin: 50px;
}

.social-iteam a {
    font-size: 18px;
    padding: 0px 15px;
    color: aliceblue;
}

.social-iteam i {
    font-size: 22px;
    margin-right: 8px;
    color: aliceblue;
}